minecraft/cache/
minecraft/coremods/
minecraft/crash-reports/
minecraft/data/
minecraft/defaultconfigs/
minecraft/downloads/
minecraft/dynamic-resource-pack-cache/
minecraft/logs/
minecraft/moonlight-global-datapacks/
minecraft/saves/
minecraft/screenshots/
minecraft/server-resource-packs/
minecraft/shaderpacks/
minecraft/texturepacks/
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/mods/*.disabled
minecraft/bivrik/
minecraft/local/
minecraft/.mixin.out/
-minecraft/mods/.index/

